.home {
  padding-bottom: 10.34rem;

  padding: 4.33rem 0px 3.67rem;
  position: relative;
  min-height: 100vh;
  background-image: url(../image/Home/home_bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  .home_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 1.33rem;

    .banner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.67rem;
      margin-top: 1.67rem;
      width: 28.25rem;
      height: 19.83rem;
      background-image: url(../image/Home/banner_bg.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      .banner_title {
        font-family: Sora, Sora;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.34rem;
        text-shadow: 0px 0px 1px #d47619;
        text-align: center;
        font-style: normal;
        text-transform: none;
        color: #ffa800;
      }
      .banner_btn {
        margin-top: 9.08rem;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 10.67rem;
        height: 2.83rem;
        font-family: Sora, Sora;
        font-weight: 600;
        font-size: 1.17rem;
        color: #ffffff;
        line-height: 1.37rem;
        text-align: center;
        font-style: normal;
        text-transform: none;
        background: #ffa800;
        box-shadow: 0rem 0rem 0.33rem 0rem #fe7a2e;
        border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
        border: 0.08rem solid #f09942;
      }
    }
    .block1 {
      padding: 2.67rem 1.33rem;
      margin-top: 1.67rem;
      background: rgba(26, 31, 46, 0.8);
      border-radius: 1.67rem 1.67rem 1.67rem 1.67rem;
      border: 0.08rem solid rgba(240, 153, 66, 1);
      > img {
        width: 100%;
      }
      .block1_title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1.33rem;
        border-bottom: 0.08rem solid #20283f;
        font-family: Sora, Sora;
        font-weight: bold;
        font-size: 1.67rem;
        line-height: 1.95rem;
        text-align: center;
        font-style: normal;
        text-transform: none;
        color: #ffa800;

        img {
          width: 3.42rem;
          height: 3.42rem;
          margin-right: 0.83rem;
        }
      }
      .block1_subtitle {
        color: #fbd67b;
        font-family: Sora, Sora;
        font-weight: 600;
        font-size: 1.33rem;
        line-height: 1.56rem;
        text-align: left;
        font-style: normal;
        text-transform: none;
        margin: 1.33rem 0px;
      }
      .block1_item {
        margin-bottom: 1.33rem;
        font-family: Sora, Sora;
        font-weight: 400;
        font-size: 1.17rem;
        color: #999999;
        line-height: 2rem;
        text-align: left;
        font-style: normal;
        text-transform: none;
        .block1_item_title {
          margin-bottom: 0.33rem;
          font-family: Sora, Sora;
          font-weight: 600;
          font-size: 1.17rem;
          color: #ffa800;
          line-height: 1.37rem;
          text-align: left;
          font-style: normal;
          text-transform: none;
          color: #ffa800;
        }
        .block1_item_p {
          font-family: Sora, Sora;
          font-weight: 400;
          font-size: 1.17rem;
          color: #999999;
          line-height: 2rem;
          text-align: left;
          font-style: normal;
          text-transform: none;
          span {
            font-family: Sora, Sora;
            font-weight: 600;
            font-size: 1.17rem;
            color: #ffffff;
            line-height: 2rem;
            text-align: left;
            font-style: normal;
            text-transform: none;
          }
          .block1_item_p_title {
            font-family: Sora, Sora;
            font-weight: 600;
            font-size: 1.17rem;
            color: #ffffff;
            line-height: 2rem;
            text-align: left;
            font-style: normal;
            text-transform: none;
            margin-bottom: 0.33rem;
          }
        }
      }
    }
    .block2 {
      padding: 2.67rem 1.33rem;
      margin-top: 1.67rem;
      background: rgba(26, 31, 46, 0.8);
      border-radius: 1.67rem 1.67rem 1.67rem 1.67rem;
      border: 0.08rem solid rgba(240, 153, 66, 1);
      > img {
        width: 100%;
      }
      .block2_title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1.33rem;
        border-bottom: 0.08rem solid #20283f;
        font-family: Sora, Sora;
        font-weight: bold;
        font-size: 1.67rem;
        line-height: 1.95rem;
        text-align: center;
        font-style: normal;
        text-transform: none;
        color: #ffa800;

        img {
          width: 3.42rem;
          height: 3.42rem;
          margin-right: 0.83rem;
        }
      }
      .block2_item {
        font-family: Sora, Sora;
        font-weight: 400;
        font-size: 1.17rem;
        color: #999999;
        line-height: 2rem;
        text-align: left;
        font-style: normal;
        text-transform: none;
        margin-bottom: 1.33rem;
      }
      .mt133 {
        margin-top: 1.33rem;
      }
      .mb0 {
        margin-bottom: 0px;
      }
    }
    .block3 {
      padding: 2.67rem 1.33rem;
      margin-top: 1.67rem;
      background: rgba(26, 31, 46, 0.8);
      border-radius: 1.67rem 1.67rem 1.67rem 1.67rem;
      border: 0.08rem solid rgba(240, 153, 66, 1);
      > img {
        width: 100%;
      }
      .block3_title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1.33rem;
        border-bottom: 0.08rem solid #20283f;
        font-family: Sora, Sora;
        font-weight: bold;
        font-size: 1.67rem;
        line-height: 1.95rem;
        text-align: center;
        font-style: normal;
        text-transform: none;
        color: #ffa800;

        img {
          width: 3.42rem;
          height: 3.42rem;
          margin-right: 0.83rem;
        }
      }
      .mt133 {
        margin-top: 1.33rem;
      }
      .block3_item_subtitle {
        font-family: Sora, Sora;
        font-weight: 600;
        font-size: 1.17rem;
        color: #ffffff;
        line-height: 2rem;
        text-align: left;
        font-style: normal;
        text-transform: none;
        margin: 0.33rem 0px;
      }

      .block3_item {
        // margin-bottom: 1.33rem;
        font-family: Sora, Sora;
        font-weight: 400;
        font-size: 1.17rem;
        color: #999999;
        line-height: 2rem;
        text-align: left;
        font-style: normal;
        text-transform: none;
        .block3_item_title {
          margin-bottom: 0.33rem;
          font-family: Sora, Sora;
          font-weight: 600;
          font-size: 1.17rem;
          color: #ffa800;
          line-height: 1.37rem;
          text-align: left;
          font-style: normal;
          text-transform: none;
          color: #ffa800;
        }
        .block3_item_p {
          font-family: Sora, Sora;
          font-weight: 400;
          font-size: 1.17rem;
          color: #999999;
          line-height: 2rem;
          text-align: left;
          font-style: normal;
          text-transform: none;
          span {
            font-family: Sora, Sora;
            font-weight: 600;
            font-size: 1.17rem;
            color: #ffffff;
            line-height: 2rem;
            text-align: left;
            font-style: normal;
            text-transform: none;
          }
          .block3_item_p_title {
            font-family: Sora, Sora;
            font-weight: 600;
            font-size: 1.17rem;
            color: #ffffff;
            line-height: 2rem;
            text-align: left;
            font-style: normal;
            text-transform: none;
            margin-bottom: 0.33rem;
          }
        }
        > img {
          margin: 1.33rem 0px;
          width: 100%;
        }
      }
    }
    .block4 {
      width: 100%;
      padding: 2.67rem 1.33rem;
      margin-top: 1.67rem;
      background: rgba(26, 31, 46, 0.8);
      border-radius: 1.67rem 1.67rem 1.67rem 1.67rem;
      border: 0.08rem solid rgba(240, 153, 66, 1);
      > img {
        margin-top: 1.33rem;
        width: 100%;
      }
      .block4_title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1.33rem;
        border-bottom: 0.08rem solid #20283f;
        font-family: Sora, Sora;
        font-weight: bold;
        font-size: 1.67rem;
        line-height: 1.95rem;
        text-align: center;
        font-style: normal;
        text-transform: none;
        color: #ffa800;

        img {
          width: 3.42rem;
          height: 3.42rem;
          margin-right: 0.83rem;
        }
      }
      .block4_title1 {
        color: #fbd67b;
        font-family: Sora, Sora;
        font-weight: 600;
        font-size: 1.33rem;
        line-height: 1.56rem;
        text-align: left;
        font-style: normal;
        text-transform: none;
        margin: 1.33rem 0px;
      }
      .mt133 {
        margin-top: 1.33rem;
      }
      .mb033 {
        margin-bottom: 0.33rem;
      }
      .block4_item {
        .block4_item_title {
          font-family: Sora, Sora;
          font-weight: 600;
          font-size: 1.17rem;
          color: #ffa800;
          line-height: 1.37rem;
          text-align: left;
          font-style: normal;
          text-transform: none;
        }
        .block4_item_p {
          font-family: Sora, Sora;
          font-weight: 400;
          font-size: 1.17rem;
          color: #999999;
          line-height: 2rem;
          text-align: left;
          font-style: normal;
          text-transform: none;
        }
      }
    }
    .block5 {
      width: 100%;
      padding: 2.67rem 1.33rem;
      margin-top: 1.67rem;
      background: rgba(26, 31, 46, 0.8);
      border-radius: 1.67rem 1.67rem 1.67rem 1.67rem;
      border: 0.08rem solid rgba(240, 153, 66, 1);
      > img {
        margin-top: 1.33rem;
        width: 100%;
      }
      .block5_title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1.33rem;
        border-bottom: 0.08rem solid #20283f;
        font-family: Sora, Sora;
        font-weight: bold;
        font-size: 1.67rem;
        line-height: 1.95rem;
        text-align: center;
        font-style: normal;
        text-transform: none;
        color: #ffa800;

        img {
          width: 3.42rem;
          height: 3.42rem;
          margin-right: 0.83rem;
        }
      }
      .block5_item {
        margin-top: 1.33rem;
        font-family: Sora, Sora;
        font-weight: 400;
        font-size: 1.17rem;
        color: #999999;
        line-height: 2rem;
        text-align: left;
        font-style: normal;
        text-transform: none;
        .block5_item_person {
          display: flex;
          align-items: center;
          font-family: Sora, Sora;
          font-weight: 600;
          font-size: 1.17rem;
          line-height: 1.37rem;
          text-align: left;
          font-style: normal;
          text-transform: none;
          color: #fbd67b;
          margin-bottom: 0.5rem;
          img {
            width: 6.67rem;
            height: 6.67rem;
            margin-right: 1.67rem;
          }
        }
      }
    }
    .block6 {
      width: 100%;
      padding: 2.67rem 1.33rem;
      margin-top: 1.67rem;
      background: rgba(26, 31, 46, 0.8);
      border-radius: 1.67rem 1.67rem 1.67rem 1.67rem;
      border: 0.08rem solid rgba(240, 153, 66, 1);

      .block6_title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1.33rem;
        border-bottom: 0.08rem solid #20283f;
        font-family: Sora, Sora;
        font-weight: bold;
        font-size: 1.67rem;
        line-height: 1.95rem;
        text-align: center;
        font-style: normal;
        text-transform: none;
        color: #ffa800;

        img {
          width: 3.42rem;
          height: 3.42rem;
          margin-right: 0.83rem;
        }
      }
      .block6_item {
        margin-top: 1.33rem;
        font-family: Sora, Sora;
        font-weight: 400;
        font-size: 1.17rem;
        color: #ffffff;
        line-height: 2rem;
        text-align: left;
        font-style: normal;
        text-transform: none;
        img {
          margin-bottom: 1.33rem;
          width: 100%;
        }
      }
    }
  }
}
