.ido {
  padding-bottom: 10.34rem;
  .ido_content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 1.33rem;
    .title {
      margin: 7.5rem 0px 4.17rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Sora, Sora;
      font-weight: bold;
      font-size: 3.17rem;
      color: #ffffff;
      line-height: 3.71rem;
      text-align: center;
      font-style: normal;
      text-transform: none;
    }
    .introduce {
      font-family: Sora, Sora;
      font-weight: 400;
      font-size: 1.33rem;
      color: #ffffff;
      line-height: 1.56rem;
      text-align: center;
      font-style: normal;
      text-transform: none;
      margin-bottom: 1.33rem;
    }
    .invite_box {
      width: 100%;
      margin-top: 2.5rem;
      .invite_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: Sora, Sora;
        font-weight: 400;
        font-size: 1.33rem;
        color: #ffffff;
        line-height: 1.56rem;
        text-align: center;
        font-style: normal;
        text-transform: none;
        div {
          display: flex;
          align-items: center;

          font-family: Sora, Sora;
          font-weight: 400;
          font-size: 1.33rem;
          color: #ffffff;
          line-height: 1.56rem;
          text-align: center;
          font-style: normal;
          text-transform: none;
          img {
            width: 1.33rem;
            height: 1.33rem;
            margin-left: 0.33rem;
          }
        }
      }
      .invite_content {
        background: rgba(26, 31, 46, 0.9);
        border-radius: 0.83rem 0.83rem 0.83rem 0.83rem;
        padding: 1.17rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: Sora, Sora;
        font-weight: 400;
        font-size: 1.17rem;
        color: #ffffff;
        line-height: 1.37rem;
        text-align: center;
        font-style: normal;
        text-transform: none;
        margin-top: 0.83rem;
        img {
          width: 2rem;
          height: 2rem;
        }
      }
    }
    .my_assets {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 7.5rem;
      width: 100%;
      padding: 2.67rem 1.33rem;
      background: rgba(26, 31, 46, 0.9);
      border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
      border: 0.08rem solid #20283f;
      > img {
        width: 8.33rem;
        height: 8.33rem;
      }
      .my_assets_title {
        margin: 0.83rem 0px 1.33rem;
        font-family: Sora, Sora;
        font-weight: bold;
        font-size: 2rem;
        color: #ffffff;
        line-height: 2.34rem;
        text-align: center;
        font-style: normal;
        text-transform: none;
      }
      .assets_list {
        width: 100%;
        padding: 2rem 0px;
        border-top: 0.08rem solid #20283f;
        border-bottom: 0.08rem solid #20283f;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: Sora, Sora;
          font-weight: 400;
          font-size: 1.33rem;
          color: #50af95;
          line-height: 1.56rem;
          text-align: center;
          font-style: normal;
          text-transform: none;
          div {
            margin-top: 0.58rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Sora, Sora;
            font-weight: 600;
            font-size: 1.67rem;
            color: #ffffff;
            line-height: 1.95rem;
            text-align: left;
            font-style: normal;
            text-transform: none;
            img {
              width: 1.33rem;
              height: 1.33rem;
              margin-left: 0.33rem;
            }
          }
        }
        .item1 {
          color: #50af95;
        }
        .item2 {
          color: #dab678;
        }
      }
      .btns {
        margin: 1.33rem 0px 0.83rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 12.5rem;
          height: 3.83rem;
          font-family: Sora, Sora;
          font-weight: 600;
          font-size: 1.17rem;
          color: #ffffff;
          line-height: 1.37rem;
          text-align: center;
          font-style: normal;
          text-transform: none;
        }
        .btn1 {
          background: #fe7a2e;
          border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
          margin-right: 0.85rem;
        }
        .btn2 {
          background: #8cc449;
          border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
        }
      }
      .assets_record {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-family: Sora, Sora;
        font-weight: 400;
        font-size: 1.17rem;
        color: #ffffff;
        line-height: 1.37rem;
        text-align: right;
        font-style: normal;
        text-transform: none;
        img {
          width: 1.33rem;
          height: 1.33rem;
          margin-left: 0.33rem;
        }
      }
    }
    .sell {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1.67rem;
      width: 100%;
      padding: 2.67rem 1.33rem;
      background: rgba(26, 31, 46, 0.9);
      border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
      border: 0.08rem solid #20283f;
      > img {
        width: 8.33rem;
        height: 8.33rem;
      }
      .sell_title {
        margin: 0.83rem 0px 1.33rem;
        font-family: Sora, Sora;
        font-weight: bold;
        font-size: 2rem;
        color: #ffffff;
        line-height: 2.34rem;
        text-align: center;
        font-style: normal;
        text-transform: none;
      }
      .sell_info {
        width: 100%;
        border-top: 0.08rem solid #20283f;
        border-bottom: 0.08rem solid #20283f;
        padding: 2rem 0px;
        > div {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: Sora, Sora;
          font-weight: 400;
          font-size: 1.33rem;
          color: #ffffff;
          line-height: 1.56rem;
          text-align: center;
          font-style: normal;
          text-transform: none;
          margin-bottom: 1.17rem;
          &:last-child {
            margin-bottom: 0px;
          }
          div {
            font-family: Sora, Sora;
            font-weight: 400;
            font-size: 1.33rem;
            color: #ffffff;
            line-height: 1.56rem;
            text-align: center;
            font-style: normal;
            text-transform: none;
          }
        }
      }
      .btn {
        width: 100%;
        padding: 1.17rem;
        font-family: Sora, Sora;
        font-weight: 600;
        font-size: 1.17rem;
        color: #ffffff;
        line-height: 1.37rem;
        text-align: center;
        font-style: normal;
        text-transform: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fe7a2e;
        box-shadow: 0rem 0rem 0.33rem 0rem #fe7a2e;
        border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
        border: 0.08rem solid #ff8d4d;
        margin: 1.33rem 0px 0.83rem;
      }
      .btn_buyed {
        opacity: 0.5;
        background: #eee;
        color: #000;
      }
      .buy_record {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-family: Sora, Sora;
        font-weight: 400;
        font-size: 1.17rem;
        color: #ffffff;
        line-height: 1.37rem;
        text-align: right;
        font-style: normal;
        text-transform: none;
        img {
          width: 1.33rem;
          height: 1.33rem;
          margin-left: 0.33rem;
        }
      }
    }
    .buy_rule {
      margin-top: 1.67rem;
      width: 100%;
      padding: 2.67rem 1.33rem;
      background: rgba(26, 31, 46, 0.9);
      border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
      border: 0.08rem solid #20283f;
      .buy_rule_title {
        font-family: Sora, Sora;
        font-weight: 600;
        font-size: 1.33rem;
        color: #ffffff;
        line-height: 1.56rem;
        text-align: left;
        font-style: normal;
        text-transform: none;
        margin-bottom: 1.33rem;
      }
      .value {
        font-family: Sora, Sora;
        font-weight: 400;
        font-size: 1.17rem;
        color: #999999;
        line-height: 2rem;
        text-align: left;
        font-style: normal;
        text-transform: none;
        margin-bottom: 0.67rem;
        text-indent: -1em;
        margin-left: 1.17em;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}
